{% load static %}
<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.ui.totop.js' %}"></script>
  <script src="{% static 'js/superfish.js' %}"></script>
  <script src="{% static 'js/sForm.js' %}"></script>
  <script src="{% static 'js/jquery.equalheights.js' %}"></script>
  <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script>
    $(document).ready(function () {
      $().UItoTop({ easingType: "easeOutQuart" });
      /*carousel*/
      var owl = $("#owl");
      owl.owlCarousel({
        items: 1, //10 items above 1000px browser width
        navigation: true,
        pagination: false,
      });
      var owl = $("#owl1");
      owl.owlCarousel({
        items: 1, //10 items above 1000px browser width
        navigation: true,
        pagination: false,
      });
    });
  </script>
</head>
<body class="page1" id="top">
  <header>
    <div class="container_12">
      <div class="grid_12">
        <h1>
          <a href="index.html">
            <img src="images/logo.png" alt="Your Happy Family">
          </a>
        </h1>
      </div>
    </div>
    <div class="clear"></div>
    <div class="menu_block ">
      <div class="container_12">
        <div class="grid_12">
          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu">
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="index.html">Giới thiệu</a></li>
              <li class="current"><a href="index-1.html">Dịch vụ</a></li>
              <li><a href="index-2.html">Sản phẩm</a></li>
              <li><a href="index-3.html">Trao đổi</a></li>
              <li><a href="index-3.html">Bài viết</a></li>
              <li><a href="index-4.html">Liên hệ</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </header>
  {% block content %} {% endblock %}
</body>
